<%layout("layout/boilerplate") -%>
<body>
    <br>
    <br>
  <div class="row">
        <div class="col-md-8 offset-md-2">
    <h1>Create a New Listing</h1>
    <form method="post" action="/listings" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
        <label for="listing[title]" class="form-label">Title:</label>
        <input type="text" id="title" name="listing[title]" class="form-control" required>
        <div class="invalid-feedback">Please provide a title.</div>
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div class="mb-3">
        <label for="listing[description]" class="form-label">Description:</label>
        <textarea id="description" name="listing[description]" class="form-control" required></textarea>
        <div class="invalid-feedback">Please provide a description.</div>
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div class="mb-3">
        <label for="listing[price]" class="form-label">Price:</label>
        <input type="number" id="price" name="listing[price]" class="form-control" required>
        <div class="invalid-feedback">Please provide a price.</div>
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div class="row">
        <div class="mb-3 col-md-4">
            
        <label for="listing[country]" class="form-label">Country:</label>
        <input type="text" id="country" name="listing[country]" class="form-control" required>
        <div class="invalid-feedback">Please provide a country.</div>
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div class="mb-3 col-md-8">
        <label for="listing[location]" class="form-label">Location:</label>
        <input type="text" id="location" name="listing[location]" class="form-control" required>
        <div class="invalid-feedback">Please provide a location.</div>
        </div>
        <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
  <label for="listing[category]" class="form-label">Category:</label>
  <select id="category" name="listing[category]" class="form-control" required>
    <option value="">Select category</option>
    <option>Trending</option>
    <option>Outdoor getaways</option>
    <option>City stays</option>
    <option>Cabins and cottages</option>
    <option>Unique stays</option>
    <option>Windmills</option>
    <option>Amazing pools</option>
    <option>Arctic homes</option>
  </select>
</div>
        <div class="valid-feedback">Looks good!</div>

        <!-- Image -->
        <div class="mb-3">
          <label for="image" class="form-label">Image:</label>
          <input type="file" id="image" name="listing[image]" class="form-control" accept="image/*" required>
          <div class="invalid-feedback">Please provide an image.</div>
        </div>
        <div class="valid-feedback">Looks good!</div>
        <br>
        <button type="submit" class="btn btn-primary add-btn" >Create Listing</button>
    </form>
    <br><br>
    </div>
   </div>
</body>
</html>