<%layout("layout/boilerplate") -%>

<div class="row">
    <div class="alert alert-danger col-6 offset-md-3" role="alert">
    <h4 class="alert-heading">Error <%= status %></h4>
    <p><%= message %></p>
</div>
</div>