<footer class="sticky-bottom">
    <div class="f-info sticky-bottom">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/_aashu.__18/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/angshu-jha-01179a338/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <br>
        <div class="f-info-brand">GENZHOTELS PRIVATE LIMITED</div>
        <div class="f-info-links about">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
        </div>
    </div>
</footer>